.arbolpage-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; Quitar esta línea para que los elementos no se centren */
    margin-top: -30px;
    background-color: rgb(27, 27, 45);
    color: #fff;
    padding: 30px;
}

.contenedor-titulo {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #fff;
    padding-bottom: 30px;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin: 0 20px;
}

.imagen-lateral {
    width: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.izquierda {
    left: 15px;
}

.derecha {
    right: 15px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    text-align: left;
}

.menu-lateral button:nth-child(1) {
    margin-left: 250px; /* Ajusta el margen izquierdo del primer botón según sea necesario */
}

.menu-lateral button:nth-child(2) {
    margin-left: 250px; /* Ajusta el margen izquierdo del segundo botón según sea necesario */
}

.menu-lateral button:nth-child(3) {
    margin-left: 250px; /* Ajusta el margen izquierdo del tercer botón según sea necesario */
    margin-top: 10px;
}



.menu-lateral button:nth-child(4) {
    margin-left: 250px; /* Ajusta el margen izquierdo del tercer botón según sea necesario */
    margin-top: 10px;
}

.menu-lateral button:nth-child(5) {
    margin-left: 200px; /* Ajusta el margen izquierdo del tercer botón según sea necesario */
    margin-top: 20px;
}


/* Añade más reglas según el número de botones que tengas */

.menu-lateral button {
    margin-bottom: 10px;
    background-color: #008000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.menu-lateral button:hover {
    background-color: #ffffff;
}

.contenido {
    display: flex;
    flex-direction: column;
}

.dropdown-container {
    
    margin-top: -310px; /* Ajusta la posición superior según sea necesario */
    margin-left: 40px; /* Ajusta la posición izquierda según sea necesario */
}

.dropdown-container select {
    width: 200px; /* Ajusta el ancho según sea necesario */
    padding: 5px;
}

.dropdown-containertwo {
    
    margin-top: 130px; /* Ajusta la posición superior según sea necesario */
    margin-left: 40px; /* Ajusta la posición izquierda según sea necesario */
}

.dropdown-containertwo select {
    width: 200px; /* Ajusta el ancho según sea necesario */
    padding: 5px;
}

.main-title{
    margin-top: 30px ;
}
.title-graphic{
    margin-top: -265px;
    margin-left: 450px;
}

.title-table{
    margin-top: 180px;
    margin-left: 10px ;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 200px;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #5e5b5b;
}



.custom-tree-container {
    
    width: 50%;
    height: 450px;
    margin-top: 135px;
    margin-right: 50px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    overflow: hidden;
    /* Agrega estilos de posición aquí */
    position: absolute;
    top: 100px; /* Ajusta la posición superior según sea necesario */
    left: 65%; /* Coloca el elemento en el centro horizontal */
    transform: translateX(-50%); /* Centra el elemento horizontalmente */
    background-color: white;
  }
  
.node__root > circle {
    fill: red;
    r:30;
  }

  .node__branch > circle {
    fill: yellow;
    r:20;
  }

  .node__leaf > circle {
    fill: green;
    r:20;
    /* Let's also make the radius of leaf nodes larger */
    
  }


.custom-tree-link path {
  stroke: red; /* Cambia el color como desees */
  stroke-width: 2; /* Ajusta el grosor según tus preferencias */
}